body {
  background: #EFEFEF;
}
#helloWorld {
  width: 100vw;
  height: 25vh;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#helloWorld #input, #helloWorld #display {
  padding: 30px;
  font-size: 30px;
  text-align: center;
}

.chat-messages{
  margin-left: -20px;
}

.chat-messages li{
  list-style: none;
  
}

.chat-message{
}

.chat-message .created{
  font-size: .9em;
  color: #777;
}